body {
    background-color: lavender;
}

.sub-breeds {
    color: darkblue;
    list-style-type: circle;
}

.breeds > li:hover{
    color: crimson;
}

.button {
    transition-duration: 2s;
    background-color: cornflowerblue;
    border: 2px solid blue;
    padding: 15px 32px;
    border-radius: 8px;
    font-family: "Century Gothic", serif;
    width: 100%;
}

.button:hover {
    background-color: blue;
    color: white;
}

.s1 {
    background-color: white;
    border: 15px solid white;
    border-radius: 8px;
    width: 50%;
}

.input {
    font-family: "Century Gothic", serif;
    border: 2px solid blue;
    border-radius: 8px;
    width: 100%;
}

.content {
    color: darkblue;
    font-family: "Century Gothic", serif;
    border-radius: 25px;
}

.error {
    color: red;
}

h1 {
    color: cornflowerblue;
}